.users-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  max-height: none; 
  overflow-y: auto; 
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
  gap: 40px;
  padding: 20px;
  height: auto; 
}

.user-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  height: auto; 
}
