<!-- user-component.component.html -->
<div *ngIf="!isClosed" class="user-component">
    <nav>
      <button (click)="toggleView()">User</button>
      <button (click)="toggleView()">Notifications ({{ user.notifications.length }})</button>
    </nav>
  
    <div *ngIf="!showNotifications">
        <div class="user-info">
            <h3>Name: {{ user.name }}</h3>
            <p>Age: {{ user.age }}</p>
            <p>Status: {{ user.status | uppercase }}</p>
          
            
            <div class="subscription-type">
              <h4>Subscription Type:</h4>
              <span (click)="changeSubscriptionType('free')" 
                    [ngClass]="{'selected': user.subscriptionType === 'free'}">
                Free
              </span>
              <span (click)="changeSubscriptionType('premium')" 
                    [ngClass]="{'selected': user.subscriptionType === 'premium'}">
                Premium
              </span>
            </div>
          
            <p>Amount available: {{ user.amountAvailable }}$</p>
          
            <!-- Redes sociales no suscritas -->
            <h4>Social Networks</h4>
            <div class="social-network-box-container">
              <div *ngFor="let network of getUnsubscribedSocialNetworks()" 
                   class="social-network-box" 
                   [ngStyle]="{'background-color': networkColor[network.platform]}">
                {{ network.platform | titlecase }}
                <button (click)="addSubscription(network.id)" class="add-btn">+</button>
              </div>
            </div>
            <h4>Subscriptions</h4>
            <div class="social-network-box-container">
              <div *ngFor="let networkId of user.subscriptions" 
                   class="social-network-box" 
                   [ngStyle]="{'background-color': networkColor[getPlatformById(networkId)]}">
                {{ getPlatformById(networkId) | titlecase }}
                <button (click)="removeSubscription(networkId)" class="remove-btn">x</button>
              </div>
            </div>
    </div>

    <button (click)="closeAccount()" class="close-account-btn">Close Account</button>
  </div>
</div>

  
    <div *ngIf="showNotifications">
      <app-notifications [notifications]="user.notifications"></app-notifications>
    </div>
  
  